.main {
	padding: 14rem 2.4rem 14rem 2.4rem;
	margin: 0 auto;

	.container {
		width: 60%;
		margin: 0 auto;

		h1 {
			font-size: 3.6rem;
			text-align: center;
			font-weight: bold;

			span {
				color: #27df9d;
			}
		}
	}
}
